<script lang="ts">
	import '../app.postcss';

	import ProjectForm from '$lib/modals/ProjectForm.svelte';
	import SpecificationForm from '$lib/modals/SpecificationForm.svelte';
	import DataQualityForm from '$lib/modals/DataQualityForm.svelte';
	import Navigation from '$lib/navigation/Navigation.svelte';
	import {
		AppBar,
		AppShell,
		Drawer,
		LightSwitch,
		Modal,
		Toast,
		getDrawerStore,
		initializeStores,
		type ModalComponent,
		autoModeWatcher,
		setInitialClassState
	} from '@skeletonlabs/skeleton';
	import { onMount, setContext } from 'svelte';
	import type { LayoutData } from './$types';

	interface Props {
		data: LayoutData;
		children?: import('svelte').Snippet;
	}

	let { data, children }: Props = $props();

	initializeStores();

	function drawerOpen() {
		let drawerStore = getDrawerStore();
		drawerStore.open({});
	}

	const modalComponentRegistry: Record<string, ModalComponent> = {
		modalSpecificationForm: {
			ref: SpecificationForm
		},
		modalProjectForm: {
			ref: ProjectForm
		},
		modalChangeDataQuality: {
			ref: DataQualityForm
		}
	};

	onMount(() => {
		autoModeWatcher();
	});

	// store user information in a context
	let user = $state(data.user);
	setContext('user', user);
</script>

<svelte:head>{@html '<script>(' + setInitialClassState.toString() + ')();</script>'}</svelte:head>

<Drawer>
	<Navigation />
</Drawer>

<Modal components={modalComponentRegistry} />

<AppShell slotSidebarLeft="bg-surface-500/5 w-0 lg:w-64">
	{#snippet header()}
		<!-- App Bar -->
		<AppBar shadow="shadow-2xl">
			{#snippet lead()}
				<div class="flex items-center">
					<button class="lg:hidden btn btn-sm mr-4" onclick={drawerOpen} aria-label="Menu">
						<span>
							<svg viewBox="0 0 100 80" class="fill-token w-4 h-4">
								<rect width="100" height="20" />
								<rect y="30" width="100" height="20" />
								<rect y="60" width="100" height="20" />
							</svg>
						</span>
					</button>
					<a class="lg:!ml-0 w-[48px] lg:w-auto overflow-hidden" href="/">
						<img src="/icon.svg" alt="EDeA logo" class="w-12 pl-2 pr-2" />
					</a>
				</div>
			{/snippet}
			{#snippet trail()}
				<a class="btn btn-sm variant-filled" href="https://blog.edea.dev" target="_blank"> Blog </a>
				<a
					class="btn btn-sm variant-filled"
					href="https://edea-dev.gitlab.io/edea-ms/"
					target="_blank"
				>
					Docs
				</a>
				<a class="btn btn-sm variant-filled" href="https://tmc.edea.dev" target="_blank">
					TMC Docs
				</a>
				<a
					class="btn btn-sm variant-filled"
					href="https://gitlab.com/edea-dev/edea-ms"
					target="_blank"
				>
					GitLab
				</a>
				{#if data.user === undefined}
					<a class="btn btn-sm variant-filled" href="/api/login/dex">Login</a>
				{:else if data.user.subject !== 'single_user'}
					<a class="btn btn-sm variant-filled" href="/api/logout">Logout</a>
				{/if}
				<LightSwitch />
			{/snippet}
		</AppBar>
	{/snippet}
	{#snippet sidebarLeft()}
		<Navigation />
	{/snippet}
	<Toast />
	<!-- Page Route Content -->
	{@render children?.()}
</AppShell>
