<script lang="ts">
	import { goto } from '$app/navigation';
	import type { User } from '$lib/models/models';
	import SimpleTable from '$lib/tables/SimpleTable.svelte';
	import { columnDef, componentColumnDef, type Column } from '$lib/tables/types';
	import { getModalStore, type ModalSettings } from '@skeletonlabs/skeleton';
	import type { Row } from '@vincjo/datatables';
	import { getContext } from 'svelte';
	import type { PageData } from './$types';
	import Actions from './actions.svelte';
	import { userState } from './state.svelte';

	interface Props {
		data: PageData;
	}

	let { data }: Props = $props();
	const modalStore = getModalStore();

	userState.projects = data.projects;

	const user = getContext<User | undefined>('user');

	const columns: Column[] = [
		columnDef('id', 'ID'),
		columnDef('short_code', 'Short Code'),
		columnDef('name', 'Name'),
		columnDef('groups', 'Groups'),
		componentColumnDef('Actions', Actions)
	];

	const modalCreateProject: ModalSettings = {
		type: 'component',
		title: 'New Project',
		body: '',
		meta: { groups: user?.groups },
		// Pass the component registry key as a string:
		component: 'modalProjectForm',
		response: async (r: any) => {
			if (r) {
				// append new specification to the table
				userState.projects.push(r);
				modalStore.close();
			}
		}
	};

	function newProject() {
		modalStore.trigger(modalCreateProject);
	}

	function rowSelected(r: Row) {
		goto(`/project/${r.id}`);
	}
</script>

<div class="container mx-auto p-8 space-y-8">
	<section class="flex justify-between">
		<h1 class="h1">Projects</h1>
		{#if user !== undefined}
			<button class="btn bg-gradient-to-br variant-filled" onclick={newProject}>New</button>
		{/if}
	</section>

	{#if userState.projects.length > 0}
		<SimpleTable data={userState.projects} {columns} rowsPerPage={10} selected={rowSelected} />
	{:else}
		<p>No project data available.</p>
	{/if}
</div>
