<script lang="ts">
	import { Icon, Pencil, Trash } from 'svelte-hero-icons';

	import type { ModalSettings, ToastSettings } from '@skeletonlabs/skeleton';
	import { getModalStore, getToastStore } from '@skeletonlabs/skeleton';
	import { userState } from './state.svelte';
	interface Props {
		row: any;
	}

	let { row }: Props = $props();

	const modalStore = getModalStore();
	const toastStore = getToastStore();

	async function deleteSpecification(id: number) {
		try {
			const response = await fetch('/api/projects/' + id, {
				method: 'DELETE'
			});

			if (response.ok) {
				const t: ToastSettings = {
					message: 'Project deleted',
					background: 'variant-filled-success'
				};
				toastStore.trigger(t);
				let index = userState.projects.findIndex((x) => x.id == id);
				userState.projects.splice(index, 1);
			} else {
				const t: ToastSettings = {
					message: 'An error occured: ' + response.statusText,
					background: 'variant-filled-error',
					timeout: 5000
				};
				toastStore.trigger(t);
			}
		} catch (error) {
			const t: ToastSettings = {
				message: 'An error occured while sending the request to the server: ' + error,
				background: 'variant-filled-error',
				autohide: false
			};
			toastStore.trigger(t);
		}
	}

	async function confirmDelete(e: Event) {
		let spec_name = row['name'];
		const confirm: ModalSettings = {
			type: 'confirm',
			title: 'Please Confirm',
			body: 'Are you sure you want to delete "' + spec_name + '"',
			response: async (r: boolean) => {
				if (!r) return;
				await deleteSpecification(row['id']);
			}
		};
		modalStore.trigger(confirm);
	}

	async function editRow(e: Event) {
		const modalEditProject: ModalSettings = {
			type: 'component',
			title: 'Updating ' + row.name,
			body: '',
			meta: { row: row, method: 'PUT', groups: userState.user?.groups },
			// Pass the component registry key as a string:
			component: 'modalProjectForm',
			response: async (r: any) => {
				if (r) {
					// change the modified specification
					let index = userState.projects.findIndex((x) => x.id == r.message.id);
					userState.projects[index] = r.message;
					modalStore.close();
				}
			}
		};

		modalStore.trigger(modalEditProject);
	}
</script>

<button class="chip variant-soft hover:variant-filled" onclick={editRow} onkeypress={editRow}>
	<span><Icon size="12" src={Pencil} /></span>
	<span>Edit</span>
</button>
<button
	class="chip variant-soft hover:variant-filled"
	onclick={confirmDelete}
	onkeypress={confirmDelete}
>
	<span><Icon size="12" src={Trash} /></span>
	<span>Delete</span>
</button>
