<script lang="ts">
	import type { PageData } from './$types';
	import { modeCurrent } from '@skeletonlabs/skeleton';

	import { VegaLite } from 'svelte-vega';
	import type { EmbedOptions } from 'vega-embed';

	interface Props {
		data: PageData;
	}

	let { data }: Props = $props();

	let vo: EmbedOptions = {
		theme: undefined,
		// only show actions which make sense. source and editor are available on the page
		actions: { export: true, source: false, compiled: true, editor: false }
	};
	let vizOptions = $state(vo);

	modeCurrent.subscribe((val) => {
		vizOptions.theme = val ? undefined : 'dark';
	});
</script>

<div class="container mx-auto p-8 space-y-8">
	<h2 class="h2">Compare testruns</h2>
	<table class="table table-hover">
		<thead>
			<tr>
				{#each data.runs as v}
					<th>ID: {v.run.id}, SC: {v.run.short_code}</th>
				{/each}
			</tr>
		</thead>
		<tbody>
			<tr>
				{#each data.runs as v}
					{#if v.run.data?.vega_lite}
						<td>
							<p><a href="/testruns/{v.run.id}">Run {v.run.id}</a></p>
							<p>Started at {v.run.started_at}, completed at {v.run.completed_at}</p>
							<VegaLite
								data={{ measurements: v.measurements }}
								spec={v.run.data?.vega_lite}
								options={vizOptions}
							/>
						</td>
					{:else}
						<td>
							<p>no viz for {v.run.id}</p>
						</td>
					{/if}
				{/each}
			</tr>
		</tbody>
	</table>
</div>
