<script lang="ts">
	import { Icon, Pencil, Trash } from 'svelte-hero-icons';

	import type { ModalSettings, ToastSettings } from '@skeletonlabs/skeleton';
	import { getModalStore, getToastStore } from '@skeletonlabs/skeleton';
	import { userState } from './state.svelte';
	interface Props {
		// define all the props that get passed to a cell component
		row: any;
	}

	let { row }: Props = $props();

	const modalStore = getModalStore();
	const toastStore = getToastStore();

	async function deleteSpecification(id: number) {
		try {
			const headers = new Headers();
			headers.append('X-WebAuth-User', 'default');
			const response = await fetch('/api/specifications/' + id, {
				method: 'DELETE',
				headers: headers
			});

			if (response.ok) {
				const t: ToastSettings = {
					message: 'Specification deleted',
					background: 'variant-filled-success'
				};
				toastStore.trigger(t);
				let index = userState.specifications.findIndex((x) => x.id == id);
				userState.specifications.splice(index, 1);
			} else {
				const t: ToastSettings = {
					message: 'An error occurred: ' + response.statusText,
					background: 'variant-filled-error',
					timeout: 5000
				};
				toastStore.trigger(t);
			}
		} catch (error) {
			const t: ToastSettings = {
				message: 'An error occurred while sending the request to the server: ' + error,
				background: 'variant-filled-error',
				autohide: false
			};
			toastStore.trigger(t);
		}
	}

	async function confirmDelete(e: MouseEvent) {
		let spec_name = row['name'];
		const confirm: ModalSettings = {
			type: 'confirm',
			title: 'Please Confirm',
			body: 'Are you sure you want to delete "' + spec_name + '"',
			response: async (r: boolean) => {
				if (!r) return;
				await deleteSpecification(row['id']);
			}
		};
		modalStore.trigger(confirm);
	}

	async function editRow(e: MouseEvent) {
		const modalEditSpec: ModalSettings = {
			type: 'component',
			title: 'Updating Specification ' + row.name,
			body: '',
			meta: { row: row, method: 'PUT' },
			// Pass the component registry key as a string:
			component: 'modalSpecificationForm',
			response: async (r: any) => {
				if (r) {
					// change the modified specification
					let index = userState.specifications.findIndex((x) => x.id == r.id);
					userState.specifications[index] = r;
					modalStore.close();
				}
			}
		};

		modalStore.trigger(modalEditSpec);
	}
</script>

<button class="chip variant-soft hover:variant-filled" onclick={editRow}>
	<span><Icon size="12" src={Pencil} /></span>
	<span>Edit</span>
</button>
<button class="chip variant-soft hover:variant-filled" onclick={confirmDelete}>
	<span><Icon size="12" src={Trash} /></span>
	<span>Delete</span>
</button>
