<script lang="ts">
	import { userState } from './state.svelte';

	interface Props {
		row: any;
	}

	let { row }: Props = $props();
	let has_viz = !!row.data?.vega_lite;
	let is_checked = $state(false);

	// add or remove the id on selection change
	function update_checklist() {
		if (is_checked) {
			userState.selected_ids.add(row.id);
		} else {
			userState.selected_ids.delete(row.id);
		}
	}
</script>

{#if has_viz}
	<input class="checkbox" type="checkbox" bind:checked={is_checked} onchange={update_checklist} />
{:else}
	<input class="checkbox" type="checkbox" disabled />
{/if}
