<script lang="ts">
	import { Paginator, type SvelteEvent } from '@skeletonlabs/skeleton';
	import { TableHandler, ThSort, ThFilter, type Row } from '@vincjo/datatables';
	import { columnDef, type Column } from './types';

	let tableElement: HTMLElement | undefined = $state();

	interface Props {
		data: Array<Row>;
		columns?: Array<Column> | undefined;
		filterable?: boolean;
		rowsPerPage?: number;
		search?: boolean;
		pagination?: boolean;
		onclick?: (e: CustomEvent<Row>) => void;
		selected?: (r: Row) => void;
	}

	let {
		data,
		columns = $bindable(undefined),
		filterable = false,
		rowsPerPage = 20,
		search = true,
		pagination = true,
		selected
	}: Props = $props();

	if (columns == undefined) {
		columns = Object.keys(data[0]).map((key) => columnDef(key, key));
	}

	let page = $state({
		page: 0,
		limit: rowsPerPage,
		size: data.length,
		amounts: [5, 10, 20, 50, 100]
	});

	const table = new TableHandler(data, { rowsPerPage: rowsPerPage, selectBy: 'id' });

	const searchHandler = table.createSearch();

	table.on('clearSearch', () => searchHandler.clear());

	$effect(() => {
		data;
		update();
	});

	const update = () => {
		if (table.element && table.element.parentElement) {
			const scrollTop = table.element.parentElement.scrollTop;
			setTimeout(() => {
				if (tableElement?.parentElement) {
					tableElement.parentElement.scrollTop = scrollTop;
				}
			}, 2);
		}
	};

	function onRowClick(
		event: SvelteEvent<MouseEvent | KeyboardEvent, HTMLTableRowElement>,
		rowIndex: number
	): void {
		// ignore events not hitting a td, buttons etc. should handle their own events
		if (event.target instanceof Element && event.target.tagName != 'TD') {
			return;
		}
		event.preventDefault();
		event.stopPropagation();
		const rowMetaData = data[rowIndex];
		/** @event {rowMetaData} selected - Fires when a table row is clicked. */
		if (selected) {
			selected(rowMetaData);
		}
	}

	// Row Keydown Handler
	function onRowKeydown(
		event: SvelteEvent<KeyboardEvent, HTMLTableRowElement>,
		rowIndex: number
	): void {
		if (['Enter', 'Space'].includes(event.code)) onRowClick(event, rowIndex);
	}

	function pageChange(e: CustomEvent<Number>) {
		// skeleton paginator starts at 0, datatables at 1 so we have to add 1
		// on every page change to get the correct one.
		table.setPage(e.detail.valueOf() + 1);
	}

	function rowsPerPageChange(e: CustomEvent<Number>) {
		table.setRowsPerPage(e.detail.valueOf());
	}
</script>

<section class="space-y-2">
	<header>
		{#if search}
			<input
				type="text"
				class="input"
				style="max-width: 30ch"
				bind:value={searchHandler.value}
				placeholder={table.i18n.search}
				spellcheck="false"
				oninput={() => searchHandler.set()}
			/>
		{/if}
	</header>

	<div class="overflow-x-scroll">
		<table class="table table-compact table-hover" bind:this={table.element}>
			<thead>
				{#if columns}
					<tr>
						{#each columns as column}
							{#if column.sortable}
								<ThSort {table} field={column.key}>{column.header}</ThSort>
							{:else}
								<th>{column.header}</th>
							{/if}
						{/each}
					</tr>
					{#if filterable}
						<tr>
							{#each columns as column}
								{#if column.filterable}
									<ThFilter {table} field={column.key} />
								{:else}
									<th></th>
								{/if}
							{/each}
						</tr>
					{/if}
				{/if}
			</thead>
			<tbody>
				{#if columns}
					{#each table.rows as row, rowIndex}
						<tr
							onclick={(e) => {
								onRowClick(e, rowIndex);
							}}
							onkeydown={(e) => {
								onRowKeydown(e, rowIndex);
							}}
							aria-rowindex={rowIndex + 1}
						>
							{#each columns as column, colIndex}
								<td
									class="!align-middle"
									role="gridcell"
									aria-colindex={colIndex + 1}
									tabindex={colIndex === 0 ? 0 : -1}
								>
									{#if column.component}
										<column.component {row} />
									{:else if column.translate}
										{column.translate(row[column.key])}
									{:else}
										{row[column.key]}
									{/if}
								</td>
							{/each}
						</tr>
					{/each}
				{/if}
			</tbody>
		</table>
	</div>

	{#if pagination}
		<footer>
			<Paginator
				bind:settings={page}
				showFirstLastButtons={false}
				showPreviousNextButtons={true}
				on:page={pageChange}
				on:amount={rowsPerPageChange}
			/>
		</footer>
	{/if}
</section>
