<script lang="ts">
	import { getDrawerStore } from '@skeletonlabs/skeleton';

	const drawerStore = getDrawerStore();

	function drawerClose(): void {
		drawerStore.close();
	}
</script>

<nav class="list-nav p-4">
	<ul>
		<li><a href="/" onclick={drawerClose}>Overview</a></li>
		<li><a href="/projects" onclick={drawerClose}>Projects</a></li>
		<li><a href="/testruns" onclick={drawerClose}>Testruns</a></li>
	</ul>
</nav>
